#Titre {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}

#logo_cibc {
	height: 120px;
	width: 120px;
	text-align: center;
}

#Commmande {
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
}
